{% load staticfiles %}
<html>
    <head>
        <title>PinPRIMES</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
          <h1><a href="/">PinPRIMES</a></h1>
          {% if user.is_authenticated %}
          <p>

              Logged as {{ user.get_username }}. <br><br>

          </p>

          <form method="post" action="/pp_main_app/test_primality/"> {% csrf_token %}
              Master address: <input type="text" name="master_address" > <br>
              <input type="radio" name="algorithm" value="AKS" > AKS <br>
              <input type="radio" name="algorithm" value="MR" > Miller-Rabin<br><br>
              <input type="number" name="number_to_test" min="2" max="999999999999999999999999999999" />
              <input type="submit" value="Test primality">
              <br>
          </form>
          <br>
          <br>
          <a href="/accounts/logout/">Logout</a>

          {% else %}
          <p>
              Not logged in.
              <br>
              <a href="/accounts/register/">Register</a> or
              <br>
              <a href="/accounts/login/">login</a></p>
          {% endif %}
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
